body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: Inter, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    width: 360px;
    min-height: 100px;
    margin: auto;
}

.content-section_theme_dark {
    color: #f5f5f5;
    background-color: #000;
}

.content-section_theme_bright {
    color: #131313;
    background-color: #fee42f;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    padding: 24px 20px;
}

.header__logo {
    display: block;
    width: 78px;
}

.header__logo-image {
    width: 100%;
}

.header__menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}

.header__menu-link {
    color: #f5f5f5;
    font-size: 16px;
    line-height: 1.2;
}

.header__menu-link .header__menu-item_active {
    text-decoration: none;
}

.cover {
    min-height: 221px;
    padding: 7px 20px 24px 32px;
    background-image: url(../images/cover.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 95% auto;
}

.cover__title{
    width: 100%;
    color: #f5f5f5;
    font-family: 'EB Garamond ', serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 1;
}

.accent-span {
    display: block;
}

.text-center{ 
    text-align: center;
}

.text-right {
    text-align: right;
}

.intro {
    padding: 8px 20px 32px;
}

.intro{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.intro__heading {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    color: #ccc;
    font-size: 16px;
}

.intro__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.intro__date {
    font-size: 16px;
    white-space: nowrap;
}

.intro__main-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 16px;
    color: #f5f5f5;
    line-height: 1.35;
}
